//font family
$font-family: 'Montserrat', sans-serif;

// fonts
$font-weight-light:     300;
$font-weight-book:      normal;
$font-weight-medium:    500;
$font-weight-bold:      bold;
$font-weight-black:     600;

// colours
$white: #ffffff;
$black: #000000;
$dark-gray: #707070;
$light-gray: #9b9b9b;


